__pycache__ 
.cache
CASTELLA
CASTELLA-audio 
features 
lighthouse/.github
lighthouse/api_example 
lighthouse/configs 
lighthouse/data
lighthouse/gradio-demo
lighthouse/images
venv 
raw_datasets 
slurm_outputs
test 
train
valid 
.codex
zip_file
AF-tuning/models/
AF-tuning/data
AF-tuning/outputs/
clotho_features.zip